@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
html, body {
  background-color: #fffbf7;
  font-family: "Outfit", sans-serif;
  height: 100%
}
.input {
  @apply w-full;
}

.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

